/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,400&display=swap');

/* Helpers & Reset */
:root {
    --c-brand: #fac562;
    --c-dark: #333;
    --c-body: #666;
    --c-light: #f8f8f8;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
}

*,*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--c-body);
    font-family: var(--f-base);
    line-height: 1.8;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--c-dark);
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 400;
}

.heading-xl {
    font-size: clamp(44px, 10vw, 100px);
    text-transform: uppercase;
}

.heading-1 {
    font-size: clamp(32px, 6vw, 54px);
}

.heading-2 {
    font-size: clamp(28px, 4vw, 36px);
}

.heading-2::first-letter {
    color: var(--c-brand);
}

.heading-3 {
    font-size: 20px;
}

a {
    color: var(--c-dark);
    text-decoration: none;
}

a:hover {
    color: var(--c-brand);
}

.highlight {
    text-decoration: underline var(--c-brand);
    text-underline-offset: 2px;
    text-decoration-thickness: 4px;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

section {
    padding: 85px 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-brand);
    font-family: var(--f-base);
    padding: 16px 34px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
}

.btn:hover {
    background-color: var(--c-brand);
    color: white;
}

.orange{
    color :var(--c-brand)
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--n-height);
    display: flex;
    z-index: 999;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    color: white;
    font-size: 28px;
}

.nav-links {
    display: flex;
}

.nav-links li:not(:last-child) {
    margin-right: 44px;
}

.nav-links li.active a {
    box-shadow: 0 2px var(--c-brand);
}

.nav-links li a {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links li a:hover {
    color: var(--c-brand);
}

.hamburger {
    display: block;
    cursor: pointer;
    display: none;
}

.hamburger span {
    display: block;
    width: 34px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
    transition: all 0.4s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

.scrolled {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.scrolled .brand {
    color: var(--c-dark);
}

.scrolled .nav-links li a {
    color: var(--c-dark);
}

.scrolled .nav-links li a:hover {
    color: var(--c-brand);
}

.scrolled .hamburger span {
    background-color: var(--c-dark);
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: var(--n-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0 24px;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        background-color: white;
        justify-content: center;
    }

    .nav-links li a {
        color: var(--c-dark);
    }

    .nav-links.active {
        height: 200px;
    }

    .nav-links li {
        padding: 6px 0;
    }

    .hamburger {
        display: block;
    }
}

entreprise {
    color : var(--c-brand);
}

/*sous menu*/
.navbar .nav-links .sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
}

.navbar .nav-links .sub-menu li {
    display: block;
    padding: 3px 10px;
}

.navbar .nav-links .sub-menu li a {
    color: #666;
    box-shadow: none;
}

.navbar .nav-links .sub-menu li a:hover {
    box-shadow: 0 2px var(--c-brand);
}

.navbar .nav-links li:hover .sub-menu {
    display: block;
}

/* Hero */
#hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/blog-post-3.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
}

#hero2 {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/projet.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
}

#hero h1 {
    color: white;
}

#hero2 h1 {
    color: white;
}

.explication {
    top: var(--n-height); /* En haut de la fenêtre, en dessous de la navbar */
    left: 10px; /* Ajustez la valeur pour définir la distance à partir de la gauche */
    padding: 20px; /* Ajoutez un peu de marge intérieure pour plus de visibilité */
    margin: 0; /* Supprime les marges par défaut du paragraphe */
    text-transform: uppercase; /* Transforme le texte en majuscules */
    color: white; /* Couleur du texte */
    text-align: right;
}

@keyframes scrolltodown {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    50% {
        transform: translateY(-30%);
        opacity: 1;
    }

    100% {
        transform: translateY(60%);
        opacity: 0;
    }
}

.scroll-to-down {
    width: 30px;
    height: 60px;
    margin-left: -15px;
    display: grid;
    place-content: center;
    font-size: 24px;
    color: white;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 100px;
    position: absolute;
    bottom: 48px;
    left: 50%;
}

.scroll-to-down .las {
    animation: scrolltodown 2s ease infinite;
}

/* Section title */
.section-intro {
    margin-bottom: 44px;
}

/* Grid*/
.grid {
    display: grid;
    gap: 44px;
}

.two-col-grid {
    grid-template-columns: repeat(2, 1fr);
}

.three-col-grid {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {

    .grid {
        gap: 24px;
    }

    .two-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .three-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Azenn */
#azenn .grid {
    gap: 0;
}
.azenn:nth-child(odd) {
    background-color: var(--c-light);
}

.azenn {
    padding: 44px;
}

.azenn p {
    font-size: 14px;
}

.azenn .icon {
    font-size: 42px;
    color: var(--c-brand);
}

/* text et image organisation*/
.text-intro {
    width: 35%;
    margin: 0 auto;
    color:white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

.text-milieu {
    max-width: 60%;
    padding : 20px;
    text-align: center;
}

.text-milieu2 {
    text-align: center;
}

.image-cote {
    width: 18%;
}

.image-cote2 {
    width: 48%;
}

.image-cote3 {
    width: 24%;
}

.logo{
    width: 70%;
    height: auto;
    margin: 0 auto;
}

/* chiffre azenn*/

.chiffres {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.chiffres p {
    display: inline-block;
    margin: 35px;
    vertical-align: top;
}

.chiffres span {
    font-size: 48px;
    font-weight: bold;
    color: var(--c-brand);
    display: block;
}

.chiffres p {
    color: #555555;
    font-size: 16px;
    line-height: 1.2;
}

.centre{
    text-align: center;
}

/*Mes collegues*/
#collegue{
    background-color: var(--c-light);
}

.testimonials {
    padding: 60px 0;
    background-color: #f8f9fa;
}


.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .testimonials-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Réduit la taille minimale de la colonne pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments pour les petits écrans */
    }
}

.testimonial-item {
    box-sizing: content-box;
    text-align: center;
    min-height: 320px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .testimonial-item .testimonial-img {
        width: 70px;
    }
}

.testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonial-item .quote-icon-left,
.testimonial-item .quote-icon-right {
    color: #c3e8fa;
    font-size: 26px;
    display: inline-block;
    position: relative;
}

.testimonial-item .quote-icon-left {
    left: -5px;
}

.testimonial-item .quote-icon-right {
    right: -5px;
    top: 10px;
}

.testimonial-item p {
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 20px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonial-item p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #149ddd;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #149ddd;
}

/*Blog*/
#blog {
    background-color: var(--c-light);
}

.blog-post h3 {
    margin-top: 16px;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

.day-btn {
    background-color: var(--c-brand);
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; /* Ajout de la transition pour le grossissement */
}

.day-btn:hover {
    background-color: var(--c-brand);
    transform: scale(1.1); /* Effet de grossissement au survol */
}

.blog-post {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    color: #333;
}

.blog-post p {
    color: #666;
}

.image-cadre {
    border: 2px solid black;
    max-width: 515px;
    max-height: 500px;
    display: block;
    margin: 10px auto; /* Centre l'image horizontalement avec une marge de 10px en haut et en bas */
}

@media (max-width: 768px) {
    .image-cadre {
        max-width: 100%; /* Redimensionne l'image pour s'adapter à la largeur de l'écran */
        height: auto; /* Hauteur automatique pour maintenir les proportions */
    }
}

@media (max-width: 576px) {
    .image-cadre {
        max-width: 90%; /* Réduit légèrement la largeur maximale de l'image pour les petits écrans */
    }
}

.image-cadre-spe {
    border: 2px solid black;
    max-width: 900px;
    max-height: 500px;
    display: block;
    margin: 10px auto; /* Centre l'image horizontalement avec une marge de 10px en haut et en bas */
}

.image-cadre-spe-spe {
    border: 2px solid black;
    max-width: 900px;
    max-height: 500px;
    display: block;
    margin: 10px auto; /* Centre l'image horizontalement avec une marge de 10px en haut et en bas */
    transition: transform 0.3s ease;
}

.image-cadre-spe-spe:hover {
    transform: scale(1.2);
}

.image-container {
    display: flex;
    flex-direction: unset;
    /*flex-direction: column;*/
    justify-content: space-between;
}

/*- - - - - PAGE PROJET - - - - -*/

/*Modale illustration du projet avec carroussel*/

.droite{
    transform: translateX(210%);
}

.carousel {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: var(--c-brand);
}

.carousel-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
}

.carousel-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-60%);
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
}

.flex-container {
    display: flex;
}

/* MODALE */
.titreOrange{
    color: var(--c-brand);
}

.button-containerspe {
    text-align: center;
    margin: 20px 0;
}

.btnspe {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.modalspe {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__contentspe {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
}

.modal__contentspe2 {
    background-color: white;
    width: 80%;
    max-width: 1250px;
    max-height: 800px;
    margin: 100px auto;
    padding: 20px;
}

.modal__closespe {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.listereu{
    margin-left: 30px;
}

/* FIN DE LA MODALE */

/* Project */
.project {
    position: relative;
    overflow: hidden;
}

.project img {
    min-height: 300px;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 44px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.project .overlay h2 {
    color: white;
}

.project .overlay p {
    color: rgba(255,255,255, 0.6);
}

.project:hover .overlay{
    opacity: 1;
    display: flex;
}

.project:hover img {
    transform: rotate(15deg) scale(1.5);
}

@media (max-width: 768px) {
    .project img {
        min-height: 200px; /* Réduit la hauteur minimale de l'image pour les petits écrans */
    }
}

/*remerciement*/

.merci{
    font-style: italic;
}

/* Footer */
footer {
    padding: 40px 0;
    background-color: var(--c-dark);
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer p,
footer a {
    color: white;
}

footer .social-icons a {
    font-size: 24px;
}

footer .social-icons a:not(:last-child) {
    margin-right: 24px;
}