/* Base */

:root {
  --color-body: #333333;
  --background-body: #ffffff;
}

* {
  box-sizing: border-box; 
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-body);
  margin:0;
  background: var(--background-body);  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 500;
  line-height: 1;
}

h1,
.h1 {
  font-size: 3.1rem; 
}

h2,
.h2 {
  font-size: 2.8rem;
  text-transform: uppercase; 
}

h3,
.h3 {
  font-size: 2.1rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 2rem;
}

li {
  margin-bottom: 1rem;
}

.cv-container {
  background-color: #f5f5f5;
  padding: 20px;
}

.cv-container-titre {
  background-color: #a6d866;
  padding: 20px;
}


.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #5b6c78;
}

.container {  
  padding:1rem 2rem;  
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.grid {
  display: flex;
  flex-wrap: wrap; 
}

.grid__item {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%; 
  padding:1rem;
}

@media screen and (min-width:750px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;    
  }

  .grid__item {
    max-width: 50%;
  }
}

/*Sous menu*/

.menu li.dropdown {
  position: relative;
}

.menu li.dropdown .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 180px; 
}

.menu li.dropdown:hover .submenu {
  display: block;
}

.menu li.dropdown .submenu li {
  margin-bottom: 5px;
}

.menu li.dropdown .submenu li a {
  color: #a6d866;
  text-decoration: none;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  color: #a6d866;
  text-decoration: none;
  padding: 5px 10px;
}

.menu li a:hover {
  background-color: #ddd;
  border-radius: 4px;
}

#week-dropdown {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Sections */

section {  
  padding: 5.5rem 0;
}

.section-title { 
  margin-top: 0;
  font-size: 3.8rem;  
}

.section-header {
  text-align: center;
}

@media screen and (min-width:750px) {
  .section-title {    
    font-size: 4.8rem;  
  }
}

.header {  
  background: #FFFFFF; 
  border-bottom: 1px solid #EEE;
  position: sticky;
  top:0;
  z-index: 1;
}

.header .logo {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}


.header li {
  display: inline-flex;
  align-items: center;
  padding: 0 .5rem;
}
.header a {
  color:  var(--color-body);
}
.header a:hover {
  color: #a6d866;
}

.header .right {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
}

.socials li {
  margin-bottom: 0;
}

.socials a {
  padding: 0 2px;
}

.socials .icon {
  height: 18px;
}

.burger {
  background:none;
  border:none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
}

.burger .bar {
  display: block;
  width: 22px;
  height: 3px;
  background:  var(--color-body);
}

.burger .bar::before, .burger .bar::after {
  display: block;
  content:"";
  width: 22px;
  height: 3px;
  background:  var(--color-body);
  position: absolute;
}

.burger .bar::before {
  transform: translateY(-8px);
}

.burger .bar::after {
  transform: translateY(8px);
}

@media screen and (max-width:749px) {
  nav {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: fixed;
    top:55px;
    left:110%;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: calc(100vh - 55px);
    background: #F5F5F5;  
    transition: all .4s ease-out;  
  }
  nav .menu li {
    display: flex;
    justify-content: center;
  }
  nav .menu a {
    display: block;
    font-size: 2rem;
    padding:2rem;
    transition: all .4s;
  }
  .show-nav nav {
    opacity: 1;
    width: 100%;
    left:0;
    z-index: 2;
  }
  .show-nav nav li a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
  .show-nav .burger .bar {
    width:0;
  }
  .burger .bar::before,
  .burger .bar::after  {
    transition: all .2s ease-out;
  }
  .show-nav .burger .bar::before {
    transform:rotate(-45deg);
  }
  .show-nav .burger .bar::after {
    transform:rotate(45deg);
  }
}

@media screen and (min-width:750px) {
  .navbar {
    display: flex;
  }

  .burger {
    display: none;
  } 
}

/*  ACCUEIL-PAGE D'OUVERTURE  */

.hero {
  background: black;
  color: #FFF;
  padding: 1rem 0 0 0;
}

.hero .title {
  color: inherit;
  font-size: 4rem;
  margin: 1.6rem 0 0 0;
  font-weight: 700;
}

.hero__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__item span {
  text-transform: uppercase;
}

.hero__item.left {
  animation-duration: 1s;
  animation-name: slideInleft;
}

.hero__item.right {
  animation-duration: 1s;
  animation-name: slideInRight;
}

@media screen and (max-width:749px) {
  .hero__item.left {
    order:2;
  }

  .hero__item.right {
    order:1;
  }
}


@media screen and (min-width:750px) {
  .hero__item {
    flex:1 0 50%;    
    text-align: left;
  }

  .hero__item.left {
    align-items:flex-start;
  }

  .hero .title {
    font-size: 5rem;   
  }

  .hero__avatar img {
    max-width: 400px;
    border-radius: 50%;
  }
}

.about .section-title {
  margin-top: 2.8rem;
}

@media screen and (min-width:750px) {
  .about img {
    padding-right: 3rem;
  }
}

/*chiffre Norsys*/

.numbers {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.numbers p {
  display: inline-block;
  margin: 50px;
  vertical-align: top;
}

.numbers span {
  font-size: 48px;
  font-weight: bold;
  color: #a6d866;
  display: block;
}

.numbers span::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #a6d866;
  margin: 10px auto;
  border-radius: 2px;
}

.numbers p {
  color: #555555;
  font-size: 16px;
  line-height: 1.2;
}


/*seconde partie accueil*/


/* Styles pour les écrans de taille moyenne et supérieure */

.highlight {
  font-size: 1.6em;
  font-weight: bold;
  color: #a6d866;
}

.containerspe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-sectionspe {
  flex: 1;
  margin-right: 20px;
}

.image-sectionspe {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-sectionspe img {
  max-width: 100%;
  height: auto;
}

.raisonetrespe {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #a6d866;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.raisonetrespe2 {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #a6d866;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.section-titleaccueil {
  margin-top: 0;
  font-size: 3.6rem;
  color: #a6d866;
}

/* Styles pour les écrans de petite taille */
@media (max-width: 767px) {
  .containerspe {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-sectionspe {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .image-sectionspe {
    justify-content: center;
  }

  .section-titleaccueil {
    font-size: 2.4rem;
  }

  .highlight {
    font-size: 1.4em;
    font-weight: bold;
    color: #a6d866;
  }
}

/*Caroussel*/

.carousel {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #a6d866;
}

/* Ajouter les règles CSS pour le rendu responsive */

@media screen and (max-width: 768px) {
  .carousel {
    height: 50%;
  }
}



/* COLLEGUE */

.titre_collegue{
  color: #a6d866;
  font-size: 19px;;
}

.services {
  background: #F5F5F5;
}

.service__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;  
  border:2px solid #5b6c78;
  border-radius: 50%;
}

.service__icon svg {
  height: 35px;
}

.service__content {
  flex:1;
}

.service h3 {
  margin-bottom: 0;
}

@media screen and (max-width:749px) {
  .service {
    text-align: center;
  }

  .service__icon { 
    margin:0 auto;
  }
}

@media screen and (min-width:750px) {
 .service {
    display: flex;
    align-items: center;
  }

  .service__icon { 
    margin-right:2rem;
  }
}

/*SKILLS*/

.skills h4, .skills p {
  margin:0 0 0.3rem 0;
}

.skills li {
  background-color: #F5F5F5;
  border-left:3px solid rgb(91,107,120);
  padding:.9rem 2rem;
}

.skills .progressbar {
  background: #F5F5F5;
  color: #FFF;
  margin-bottom: 1rem;  
}

.skills .bar {
  background: black;
  padding: 1rem;
}

.couleur {
  color: #a6d866;
}


/* PORTFOLIO */

/* Applique une taille fixe aux images */
.imgportfolio {
  width: 365px; /* Définissez la largeur souhaitée */
  height: 200px; /* Définissez la hauteur souhaitée */
  object-fit: cover; /* Permet de conserver les proportions de l'image tout en remplissant l'espace */
}

.card__container {
  display: flex;
  align-items: center;
  
}


.portfolio {
  background: #F5F5F5;
}

.portfolio .grid__item {
  max-width: 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

.portfolio .grid__item.hide {
  opacity:0;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  transition: all .4s ease;
}

.portfolio-filters .grid__item {
  max-width: 50%;
  margin-bottom: 0;
}

.portfolio-filters a {
  color: var(--color-body);
  background: #EEE;
  display: flex;
  flex:1;
  justify-content: center;
  padding:1rem;
}

.portfolio-filters a.active {
  color: #FFF;
  background:#a6d866;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 4;
  transform: scale(0);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.show.modal {
  transform: scale(1);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 1;
  visibility:visible;
}

.modal__content {
  background-color: #fefefe;
  height: 100vh;
  padding: 1rem 1rem;
  overflow: auto;
  text-align: left;
}

.modal img {
  margin-bottom: 2rem;
}

.modal__title {
  margin: 0 0 2rem;
}

.modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: 1px solid #eee;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 3.1rem;
  color: #666;
  cursor: pointer;
}

.modal .grid__item {
  max-width: 100%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

@media screen and (min-width: 750px) {
  .modal .grid__item {
    max-width: 50%;
  }
  .modal__content {
    padding: 3rem;
  }
}

@media screen and (max-width:749px) {
 .portfolio a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width:750px) {
  .portfolio .grid__item {
    max-width: 33.3333%;   
  }  
 .portfolio-filters .grid__item {
    max-width: 25%;
  }
}

.card {
  background: #FFF;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
  border: 1px solid #EEE;
   overflow: hidden;
}

.card__inner {
  padding:2rem;
}

.card__title {
  margin:0 0 1rem;
  font-size: 1.6rem;
  color: #a6d866;
  font-size: 20px;
}

.card__overlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  top:0;
 
  z-index:0;
  width: 100%;
  height: 100%;
  top:110%;
  transition: all .3s;
  
}
.card__overlay a {
  font-size: 4.5rem;
  color:#FFF;
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card:hover .card__overlay {
  top:0;
}

.form {
  max-width: 600px;
  margin: 4rem auto 0 auto;
}

.form input, .form textarea {
 display: block;
 width: 100%;
 padding: 1rem;
 margin-bottom: 2rem;
}

.form textarea { 
  min-height: 200px;
}

.btn {
  padding: 10px 20px;
  background-color: #a6d866;;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.btn:hover{
  background-color: #0f7404 ;
  transform: scale(1.09);
  transition: all ease 0.4s;
}

.btn_objectif{
  padding: 10px 20px;
  background-color: rgb(76,124,108);;
  font-size: 27px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.btn_objectif:hover{
  background-color: rgb(148,196,188) ;
  transform-style: preserve-3d;
  transform: scale(1.09);
  transition: all ease 0.4s;
}

.form .btn {
  border:none;
  background:  var(--color-body);
  color: #FFF;
  width: auto;
  min-width: 160px;
  font-size: 2rem;
  text-transform: uppercase;
}
.form .btn:hover {
  cursor: pointer;
  background: #000;
}

/* CARD */

.card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s, filter 0.3s;
}

.card__images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s, filter 0.3s;
  height: 400px; 
  width: 700px;
}


.card:hover .card__image {
  transform: scale(1.2);
  filter: blur(4px);
}

.image__left {
  float: left;
  max-width: 70%;
}

.image__right {
  float: right;
  max-width: 60%;
}

.card__text {
  text-align: center;
  margin-top: 20px;
}

/* full screen */

/*.image-container {
  position: relative;
  display: inline-block;
}

.image-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.image-container.fullscreen img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #a6d866;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  cursor: pointer;
}


.hide {
  display: none;!!!!!!!!!!!!!!
}*/

/* image cote à cote */

.images-container {
  text-align: center;
}

.image-wrapper {
  display: inline-block;
  margin-right: 10px; /* Ajoutez une marge à droite pour l'espace entre les images */
}

/*liste differente */

ol.numbered-list {
  counter-reset: li;
  list-style-type: none;
  margin-left: 1.5em;
  padding-left: 0;
}

ol.numbered-list li {
  counter-increment: li;
  margin-bottom: 0.5em;
}

ol.numbered-list li::before {
  content: counter(li) ".";
  display: inline-block;
  width: 1.2em;
  margin-left: -1.5em;
  text-align: right;
  font-weight: bold;
  color: #333;
}


/* JOURNAL DE BORD */

.image-cadre {
    border: 2px solid black; /* Ajoute un cadre de 2px de largeur avec une couleur noire */
    max-width: 540px; /* Définit une largeur maximale de 300px pour l'image */
    display: block; /* Assure que l'image est affichée en tant que bloc pour appliquer les styles */
    margin: 10px auto; /* Centre l'image horizontalement avec une marge de 10px en haut et en bas */
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image-sprint {
  max-width: 600px; /* Définit une largeur maximale de 300px pour l'image */
  display: block; /* Assure que l'image est affichée en tant que bloc pour appliquer les styles */
  margin: 10px auto; /* Centre l'image horizontalement avec une marge de 10px en haut et en bas */
}

/* Footer */

footer {
  background: #000;
  color:#EEE;
  text-align: center;
  font-size: 1.4rem;
}

footer p {
  margin: 0;
}

footer .grid {
  align-items: center;
}

footer .socials {
  justify-content: center;
  text-align: center;
}

footer .socials li {
  padding:0 .7rem;
}

footer .socials a {
  color: #FFF;
  border:1px solid #FFF;
  border-radius: 50%;
  padding:1rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  transition: all .4s;
}

footer .socials a:hover {
  background: #FFF;
  color:  var(--color-body);
}

@media screen and (min-width:750px) {
 footer {
  text-align: left;
 }
 footer .grid__item {
   max-width: 33.333%;
 }
}

@keyframes slideInleft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}



/* PROJET */

/*mise en page accueil projet */

.banner_section {
  background: url('../img/aesthetic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

.banner_section .carousel-item {
  padding: 3rem 0;
  height: 90vh;
}

.banner_section .carousel-caption {
  top: 30%;
  bottom: 0;
  left: 3%;
  right: 0;
  text-align: left;
  width: 100%;
}

.banner_section .carousel-caption h3 {
  padding: 0.5rem 1.5rem;
  background-color: var(--dark-color);
  display: inline;
}

.banner_section .carousel-caption p {
  max-width: 40rem;
  margin-bottom: 2rem;
}

/*texte aligné coté droit */

.banner_section .carousel-caption {
  overflow: hidden;
  
}

.banner_section .banner-content {
  float: right;
  clear: both;
  text-align: right;
  
}

.banner_section .banner-content h1,
.banner_section .banner-content h3,
.banner_section .banner-content p {
  text-align: right;
}

/*police du titre en vert degrade */

.mytitle {
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  background: linear-gradient(to right, #0f7404, #a6d866);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/*bouton 'all pictures'*/

.main-btn {
  position: relative;
  color: var(--bg-white);
  background: linear-gradient(to right, #0f7404, #a6d866);
  z-index: 1;
  overflow: hidden;
  border: 0.2rem solid var(--bg-white);
  border-radius: 3.5rem;
  text-transform: uppercase;
  padding: 1rem 3.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  letter-spacing: 0.2rem;
  
  display: inline-block;
  width: 250px; 
}

.banner_section .banner-content h1,
.banner_section .banner-content h3,
.banner_section .banner-content p {
  text-align: right;
  max-width: 120rem; /* Augmentez la valeur selon vos besoins */
}

/* modale accueil */

.modalbienvenue {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalbienvenue-content {
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.carousel img {
  display: none;
  width: 100%;
  height: auto;
}

.carousel img:first-child {
  display: block;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}

.carousel-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 28px;
  color: #aaa;
  cursor: pointer;
}

.carousel-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-60%);
  font-size: 28px;
  color: #aaa;
  cursor: pointer;
}


/*sprint*/

#photo {
  margin-top: 10px;
}

#photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.1);
}

.zoom-images {
  transition: transform 0.3s ease-in-out;
}

.zoom-images:hover {
  transform: scale(1.8);
}


.button-containerspe {
  text-align: center;
  margin: 20px 0;
}

.btnspe {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a6d866;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.modalspe {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__contentspe {
  background-color: white;
  width: 80%;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

.modal__contentspe2 {
  background-color: white;
  width: 80%;
  max-width: 1250px;
  max-height: 800px;
  margin: 100px auto;
  padding: 20px;
}

.modal__closespe {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: transparent; 
}

.texte-aligne-gauche {
  text-align: left;
}

/*tests unitaires*/

 .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.grid-item {
  opacity: 0; /* Initial opacity set to 0 */
  transition: opacity 0.5s ease-in-out; /* Transition effect */
  background-color: #a6d866;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white; 
  font-style: italic;
}

.us-image{
  width: 90%; 
  display: block;
  margin: 0 auto;
}

.us-images{
  width: 90%;
  max-height: 50;
  display: block;
  margin: 0 auto;
}/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




/*affichage par paragraphe*/

/*@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
 }*/
